.navbar{
    position: fixed; /* Añade esto explícitamente */
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0; /* Cambia height: 100vh por bottom: 0 */
    width: 120px; /* Ancho fijo para la navbar */
    z-index: 1000;
    background-color: rgba(69, 196, 132, 1);
    padding: 20px 0;
}
.navbar-list{
    display: flex;
    flex-direction: column;
    background-color: rgba(69, 196, 132, 1);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}

.navbar-list img {
    width: 30px;
    margin: 0 auto;
}

.navbar-item {
    padding: 15px 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: rgba(6, 229, 117, 1) !important; 
    border-radius: 10px !important;
}
