.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    z-index: 999
}
.navbar-list{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}

.navbar-list img {
    width: 30px;
    margin: 0 auto;
}

.navbar-item {
    padding: 15px 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Livvic", sans-serif;
}

.navbar-item:hover {
    background-color: let(--hover-color) !important; 
    border-radius: 10px !important;
}
